#s-1ffeeaa7-fdff-4e2d-90d5-5d06477b34b3 #s-Background {
  -ms-transform: rotate(0.0deg);
}
#s-1ffeeaa7-fdff-4e2d-90d5-5d06477b34b3 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1ffeeaa7-fdff-4e2d-90d5-5d06477b34b3 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1ffeeaa7-fdff-4e2d-90d5-5d06477b34b3 #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-1ffeeaa7-fdff-4e2d-90d5-5d06477b34b3 #s-Label_66 {
  -ms-transform: rotate(0.0deg);
}
#s-1ffeeaa7-fdff-4e2d-90d5-5d06477b34b3 #s-Label_67 {
  -ms-transform: rotate(0.0deg);
}
#s-1ffeeaa7-fdff-4e2d-90d5-5d06477b34b3 #s-Ellipse_81 {
  -ms-transform: rotate(0.0deg);
}
#s-1ffeeaa7-fdff-4e2d-90d5-5d06477b34b3 #s-Ellipse_82 {
  -ms-transform: rotate(0.0deg);
}
#s-1ffeeaa7-fdff-4e2d-90d5-5d06477b34b3 #s-Ellipse_83 {
  -ms-transform: rotate(0.0deg);
}
#s-1ffeeaa7-fdff-4e2d-90d5-5d06477b34b3 #s-Ellipse_84 {
  -ms-transform: rotate(0.0deg);
}
#s-1ffeeaa7-fdff-4e2d-90d5-5d06477b34b3 #s-Ellipse_85 {
  -ms-transform: rotate(0.0deg);
}
#s-1ffeeaa7-fdff-4e2d-90d5-5d06477b34b3 #s-Label_103 {
  -ms-transform: rotate(0.0deg);
}
#s-1ffeeaa7-fdff-4e2d-90d5-5d06477b34b3 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1ffeeaa7-fdff-4e2d-90d5-5d06477b34b3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}