#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_425 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_434 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Ellipse_69 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Ellipse_70 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Ellipse_71 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Ellipse_72 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_451 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Rich_text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Image_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Rich_text_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95) ;
  filter: alpha(opacity=95) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}