#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Empty-Screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 718px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Cell_top .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Cell_top .verticalalign {
  vertical-align: middle;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Cell_top {
  width: 375px;
  height: 64px;
  background-color: #F6F6F6;
  background-image: none;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_89 {
  position: absolute;
  top: 27px;
  left: 107px;
  width: 163px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.000001pt;
  font-family: Roboto-Regular,Arial;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_89 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_89 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.000001pt;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_89 span#rtr-s-Label_89_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.000001pt;
  line-height: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Group_25 {
  position: absolute;
  top: -4px;
  left: 4px;
  width: 365px;
  height: 22px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_425 {
  position: absolute;
  top: 6px;
  left: 37px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_425 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_425 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_425 span#rtr-s-Label_425_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_434 {
  position: absolute;
  top: 7px;
  left: 295px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_434 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_434 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_434 span#rtr-s-Label_434_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_38 {
  position: absolute;
  top: 3px;
  left: 145px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_38 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_38 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_38 span#rtr-s-Label_38_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Group_37 {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 34px;
  height: 6px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Ellipse_14 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Ellipse_14 .content {
  width: 6px;
  height: 6px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Ellipse_14 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #shapewrapper-s-Ellipse_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #shapewrapper-s-Ellipse_14 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #shapewrapper-s-Ellipse_14 span#rtr-s-Ellipse_14_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Ellipse_69 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Ellipse_69 .content {
  width: 6px;
  height: 6px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Ellipse_69 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #shapewrapper-s-Ellipse_69 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #shapewrapper-s-Ellipse_69 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #shapewrapper-s-Ellipse_69 span#rtr-s-Ellipse_69_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Ellipse_70 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Ellipse_70 .content {
  width: 6px;
  height: 6px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Ellipse_70 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #shapewrapper-s-Ellipse_70 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #shapewrapper-s-Ellipse_70 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #shapewrapper-s-Ellipse_70 span#rtr-s-Ellipse_70_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Ellipse_71 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Ellipse_71 .content {
  width: 6px;
  height: 6px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Ellipse_71 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #shapewrapper-s-Ellipse_71 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #shapewrapper-s-Ellipse_71 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #shapewrapper-s-Ellipse_71 span#rtr-s-Ellipse_71_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Ellipse_72 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Ellipse_72 .content {
  width: 6px;
  height: 6px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Ellipse_72 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #shapewrapper-s-Ellipse_72 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #shapewrapper-s-Ellipse_72 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #shapewrapper-s-Ellipse_72 span#rtr-s-Ellipse_72_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_451 {
  position: absolute;
  top: 0px;
  left: 338px;
  width: 27px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_451 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_451 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_451 span#rtr-s-Label_451_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_74 {
  position: absolute;
  top: 3px;
  left: 298px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_74 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_74 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_74 span#rtr-s-Label_74_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Image_2 > svg {
  width: 28px;
  height: 28px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Image_2 {
  position: absolute;
  top: 27px;
  left: 18px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Image_13 > svg {
  width: 18px;
  height: 18px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Image_13 {
  position: absolute;
  top: 32px;
  left: 341px;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Cell_center .layout {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Cell_center .verticalalign {
  vertical-align: middle;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Cell_center {
  width: 375px;
  height: 603px;
  background-color: #F0EFF5;
  background-image: none;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Imessage2 {
  position: absolute;
  top: 30px;
  left: 36px;
  width: 306px;
  height: 76px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Rich_text_23 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 21px;
  padding-left: 21px;
  width: 259px;
  height: 43px;
  background-color: #157EFB;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 27px 27px 27px 27px;
  padding-top: 14px;
  padding-bottom: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 14.0pt;
  font-family: Roboto-Light,Arial;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Rich_text_23 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Rich_text_23 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Rich_text_23 span#rtr-s-Rich_text_23_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Image_85 {
  position: absolute;
  top: 50px;
  left: 291px;
  width: 15px;
  height: 26px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Text_7 {
  position: absolute;
  top: 182px;
  left: 122px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Text_8 {
  position: absolute;
  top: 220px;
  left: 108px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Text_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Text_9 {
  position: absolute;
  top: 258px;
  left: 104px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Text_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Text_10 {
  position: absolute;
  top: 296px;
  left: 91px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Text_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Dialog-4 {
  position: absolute;
  top: 182px;
  left: 54px;
  width: 270px;
  height: 158px;
  display: none;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Rich_text_10 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 22px;
  width: 266px;
  height: 134px;
  background-color: #F8F8F8;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 4px 4px 4px 4px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  opacity: 0.95;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 16.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Rich_text_10 .valign {
  vertical-align: top;
  text-align: center;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Rich_text_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Rich_text_10 span#rtr-s-Rich_text_10_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Rich_text_10 span#rtr-s-Rich_text_10_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_27 {
  position: absolute;
  top: 111px;
  left: 0px;
  width: 270px;
  height: 46px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_27 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_27 span {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Label_27 span#rtr-s-Label_27_0 {
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Image_7 > svg {
  width: 59px;
  height: 60px;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Image_7 {
  position: absolute;
  top: 220px;
  left: 151px;
  width: 59px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  display: none;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Cell_bottom .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Cell_bottom .verticalalign {
  vertical-align: middle;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 #s-Cell_bottom {
  width: 375px;
  height: 51px;
  background-color: #F6F6F6;
  background-image: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-4dc79526-3c65-4ea8-91c1-74ab14f4e4e8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}