#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Settings-screen {
  border-collapse: separate;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_89 {
  -ms-transform: rotate(0.0deg);
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_425 {
  -ms-transform: rotate(0.0deg);
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_434 {
  -ms-transform: rotate(0.0deg);
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_38 {
  -ms-transform: rotate(0.0deg);
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Ellipse_69 {
  -ms-transform: rotate(0.0deg);
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Ellipse_70 {
  -ms-transform: rotate(0.0deg);
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Ellipse_71 {
  -ms-transform: rotate(0.0deg);
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Ellipse_72 {
  -ms-transform: rotate(0.0deg);
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_451 {
  -ms-transform: rotate(0.0deg);
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_74 {
  -ms-transform: rotate(0.0deg);
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Cell-content > .valign {
  vertical-align: top;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rectangle_108 {
  -ms-transform: rotate(0.0deg);
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rich_text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rich_text_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 18px;
  height: 18px;
  -ms-transform: rotate(0.0deg);
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_81 {
  -ms-transform: rotate(0.0deg);
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_82 {
  -ms-transform: rotate(0.0deg);
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rich_text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Line_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Line_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rich_text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_96 {
  -ms-transform: rotate(0.0deg);
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rectangle_110 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}