#s-85364c6e-2b04-42fc-a079-67b5385d0d37 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Settings-screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 667px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Cell-header .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Cell-header .verticalalign {
  vertical-align: middle;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Cell-header {
  width: 375px;
  height: 64px;
  background-color: #F6F6F6;
  background-image: none;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_89 {
  position: absolute;
  top: 27px;
  left: 107px;
  width: 163px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_89 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_89 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_89 span#rtr-s-Label_89_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 13.0pt;
  line-height: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Group_25 {
  position: absolute;
  top: -4px;
  left: 4px;
  width: 365px;
  height: 22px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_425 {
  position: absolute;
  top: 6px;
  left: 37px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_425 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_425 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_425 span#rtr-s-Label_425_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_434 {
  position: absolute;
  top: 7px;
  left: 295px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_434 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_434 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_434 span#rtr-s-Label_434_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_38 {
  position: absolute;
  top: 3px;
  left: 145px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_38 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_38 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_38 span#rtr-s-Label_38_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Group_37 {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 34px;
  height: 6px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Ellipse_14 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Ellipse_14 .content {
  width: 6px;
  height: 6px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Ellipse_14 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #shapewrapper-s-Ellipse_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #shapewrapper-s-Ellipse_14 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #shapewrapper-s-Ellipse_14 span#rtr-s-Ellipse_14_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Ellipse_69 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Ellipse_69 .content {
  width: 6px;
  height: 6px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Ellipse_69 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #shapewrapper-s-Ellipse_69 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #shapewrapper-s-Ellipse_69 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #shapewrapper-s-Ellipse_69 span#rtr-s-Ellipse_69_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Ellipse_70 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Ellipse_70 .content {
  width: 6px;
  height: 6px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Ellipse_70 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #shapewrapper-s-Ellipse_70 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #shapewrapper-s-Ellipse_70 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #shapewrapper-s-Ellipse_70 span#rtr-s-Ellipse_70_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Ellipse_71 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Ellipse_71 .content {
  width: 6px;
  height: 6px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Ellipse_71 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #shapewrapper-s-Ellipse_71 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #shapewrapper-s-Ellipse_71 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #shapewrapper-s-Ellipse_71 span#rtr-s-Ellipse_71_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Ellipse_72 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Ellipse_72 .content {
  width: 6px;
  height: 6px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Ellipse_72 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #shapewrapper-s-Ellipse_72 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #shapewrapper-s-Ellipse_72 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #shapewrapper-s-Ellipse_72 span#rtr-s-Ellipse_72_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_451 {
  position: absolute;
  top: 0px;
  left: 338px;
  width: 27px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_451 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_451 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_451 span#rtr-s-Label_451_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_74 {
  position: absolute;
  top: 3px;
  left: 298px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_74 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_74 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_74 span#rtr-s-Label_74_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Image_13 > svg {
  width: 18px;
  height: 18px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Image_13 {
  position: absolute;
  top: 32px;
  left: 341px;
  width: 18px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Image_2 > svg {
  width: 28px;
  height: 28px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Image_2 {
  position: absolute;
  top: 27px;
  left: 18px;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Cell-content .layout {
  overflow-x: hidden;
  overflow-y: auto;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Cell-content .verticalalign {
  vertical-align: top;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Cell-content {
  width: 375px;
  height: 603px;
  background-color: #FFFFFF;
  background-image: none;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rectangle_108 {
  width: 375px;
  height: 30px;
  background-color: #F2F2F2;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rectangle_108 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rectangle_108 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rectangle_108 span#rtr-s-Rectangle_108_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-List-item-3 {
  width: 375px;
  height: 44px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Group_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 44px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rich_text_31 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 53px;
  width: 322px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rich_text_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rich_text_31 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rich_text_31 span#rtr-s-Rich_text_31_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rich_text_9 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 18px;
  height: 18px;
  background-color: #999999;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rich_text_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rich_text_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rich_text_9 span#rtr-s-Rich_text_9_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Line_6 {
  position: absolute;
  top: 43px;
  left: 54px;
  width: 321px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_81 {
  position: absolute;
  top: 14px;
  left: 332px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_81 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_81 span {
  color: #A9A9A9;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_81 span#rtr-s-Label_81_0 {
  color: #A9A9A9;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_82 {
  position: absolute;
  top: 17px;
  left: 349px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_82 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_82 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_82 span#rtr-s-Label_82_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-List-item {
  width: 375px;
  height: 44px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rich_text_43 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 53px;
  width: 322px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rich_text_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rich_text_43 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rich_text_43 span#rtr-s-Rich_text_43_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Line_17 {
  position: absolute;
  top: 43px;
  left: 54px;
  width: 321px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-List-item-3_6 {
  width: 375px;
  height: 44px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rich_text_37 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 53px;
  width: 322px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rich_text_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rich_text_37 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rich_text_37 span#rtr-s-Rich_text_37_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_96 {
  position: absolute;
  top: 17px;
  left: 348px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: IOS9-Icons-Regular,Arial;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_96 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_96 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_96 span#rtr-s-Label_96_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS9-Icons-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rectangle_110 {
  width: 375px;
  height: 30px;
  background-color: #F2F2F2;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rectangle_110 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rectangle_110 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rectangle_110 span#rtr-s-Rectangle_110_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}