#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_425 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_434 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Ellipse_69 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Ellipse_70 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Ellipse_71 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Ellipse_72 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_451 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rectangle_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rich_text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rich_text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rich_text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rich_text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Label_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 #s-Rectangle_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-85364c6e-2b04-42fc-a079-67b5385d0d37 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}