#s-b3929edb-0ba5-401a-843f-7428407f5b2c #s-Rich_text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3929edb-0ba5-401a-843f-7428407f5b2c #s-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3929edb-0ba5-401a-843f-7428407f5b2c #s-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3929edb-0ba5-401a-843f-7428407f5b2c #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3929edb-0ba5-401a-843f-7428407f5b2c #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b3929edb-0ba5-401a-843f-7428407f5b2c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}