#s-c49efdce-1350-4e21-a552-f14a62dcc857 #s-Rich_text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c49efdce-1350-4e21-a552-f14a62dcc857 #s-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c49efdce-1350-4e21-a552-f14a62dcc857 #s-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c49efdce-1350-4e21-a552-f14a62dcc857 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-c49efdce-1350-4e21-a552-f14a62dcc857 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-c49efdce-1350-4e21-a552-f14a62dcc857 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}