#s-fd7a9838-407d-4b37-8104-1ad282a4080d #s-Empty-Screen {
  border-collapse: separate;
}
#s-fd7a9838-407d-4b37-8104-1ad282a4080d #s-Label_89 {
  -ms-transform: rotate(0.0deg);
}
#s-fd7a9838-407d-4b37-8104-1ad282a4080d #s-Label_425 {
  -ms-transform: rotate(0.0deg);
}
#s-fd7a9838-407d-4b37-8104-1ad282a4080d #s-Label_434 {
  -ms-transform: rotate(0.0deg);
}
#s-fd7a9838-407d-4b37-8104-1ad282a4080d #s-Label_38 {
  -ms-transform: rotate(0.0deg);
}
#s-fd7a9838-407d-4b37-8104-1ad282a4080d #s-Ellipse_14 {
  -ms-transform: rotate(0.0deg);
}
#s-fd7a9838-407d-4b37-8104-1ad282a4080d #s-Ellipse_69 {
  -ms-transform: rotate(0.0deg);
}
#s-fd7a9838-407d-4b37-8104-1ad282a4080d #s-Ellipse_70 {
  -ms-transform: rotate(0.0deg);
}
#s-fd7a9838-407d-4b37-8104-1ad282a4080d #s-Ellipse_71 {
  -ms-transform: rotate(0.0deg);
}
#s-fd7a9838-407d-4b37-8104-1ad282a4080d #s-Ellipse_72 {
  -ms-transform: rotate(0.0deg);
}
#s-fd7a9838-407d-4b37-8104-1ad282a4080d #s-Label_451 {
  -ms-transform: rotate(0.0deg);
}
#s-fd7a9838-407d-4b37-8104-1ad282a4080d #s-Label_74 {
  -ms-transform: rotate(0.0deg);
}
#s-fd7a9838-407d-4b37-8104-1ad282a4080d #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-fd7a9838-407d-4b37-8104-1ad282a4080d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fd7a9838-407d-4b37-8104-1ad282a4080d #s-Rich_text_12 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 5px 5px 5px 5px;
  padding-top: 61px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 264px;
  height: 144px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  filter: alpha(opacity=95);
  -ms-transform: rotate(0.0deg);
}
#s-fd7a9838-407d-4b37-8104-1ad282a4080d #s-Label_26 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-fd7a9838-407d-4b37-8104-1ad282a4080d #s-Label_30 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-fd7a9838-407d-4b37-8104-1ad282a4080d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fd7a9838-407d-4b37-8104-1ad282a4080d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}